<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICoffeeService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54315/Services/CoffeeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoffeeService"
        contract="CoffeeServiceReference.ICoffeeService" name="BasicHttpBinding_ICoffeeService" />
    </client>
  </system.serviceModel>
</configuration>